<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/select2.min.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <title>Ввод категорий</title>
</head>
<body>
<div class="container-fluid">
    <h1 class="display-5">Ввод категорий</h1>
    <form>
        <div class="rows">
            <div class="form-row template d-none">
                <div class="form-group col-6">
                    <input name="pattern" class="form-control" placeholder="Название">
                    <input type="hidden" name="id">
                </div>
                <div class="form-group col-6">
                    <select name="category" class="form-control cat_select">
                        {% for cat in cats %}
                        <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <button class="btn btn-success" id="subm">Отправить</button>
        </div>

        <div class="alert d-none alert-info">
            <p>Данные были успешно обновлены</p>
        </div>
    </form>
</div>
<script src="static/jquery-3.2.1.min.js"></script>
<script src="static/select2.full.min.js"></script>
<script src="static/main.js"></script>
<script>
    let form = new Form("{{base_url}}", "{{rc_id}}");
    form.init();

    $('#subm').on('click', function () {
        let data = form.serialize();

        form.send_data(data, function () {
            $('.alert').removeClass('d-none');
        });

        return false;
    });
</script>
</body>
</html>